<html>
    <head>
        <title>Lizavetoria</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Lizavetoria</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href=""><strong>Fisrtlands:</strong></a></h2>
            <p>My first post was just celebrating success in creating the first post, so there's nothing really to read, sorry.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href=""><strong>Secondlands: </strong></a></h2>
            <p>So as a second.</p>
        </div>
    </body>
</html>